.page {
  padding-bottom: 100px;
}

.content {
  max-width: var(--container-frame-width);
  margin: 0 auto;
  padding: 30px var(--container-padding) 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  align-items: stretch;
}

@media screen and (max-width: 930px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .page {
    padding-bottom: 80px;
  }

  .content {
    padding: 20px var(--container-padding) 0;
  }
}
